.chat-main{
	position: fixed;
	width: 25%;
	bottom: 0;
	right: 10%;
	border-style: solid;
	border-width: 2px;
  border-color: #E60012;
	border-radius: 5px 5px 0px 0px;
}
.message-box input{
	border: none;
	font-size: 13px;
	opacity: 0.7;
}
.message-box input:focus{
	outline: none;

 }
