#ChatBar{
  width: 100%;
  height: 5vh;
  z-index: 2;
  border-color: #E60012;
  background-color: #E60012;
  text-align: left;
  color: white;
  border-style: solid;
  border-width: 2px;
}
#ChatBotButton{
  width: 20%;
  height: 4vh;
  z-index: 3;
  right: 0;
  top: 0;
  border-color: #E60012;
  background-color: #E60012;
  text-align: left;
  color: white;
  position: absolute;
}
#conversation {
  background-color: #eeeeeeff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: 2;
  height: 45vh;
  overflow-x: scroll;
  overflow-x: hidden;
  outline: 2px solid #E60012;
}
input#wisdom {
  padding: 4px;
  font-size: 1em;
  width: 100%;
  z-index: 2;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

form#chatform{
  width: 100%;
}


/*min and max size of chatbot*/
@media screen and (min-width:1300px){
    .chat-main {
      width: 325px;
    }
}

@media screen and (max-width:900px){
    .chat-main {
      width: 225px;
    }

}

.top-bar, th {
  background-color: red;
  color: white;
}



#content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

hr {
  border: solid 2px black;
}

a {
  text-decoration: underline;
}

.table>tbody>tr:nth-child(even)>td {
   background-color: aliceblue;
 }

 input::placeholder {
   color: #ccc;
   font-style: italic;
 }

 p.userRequest {
   border: 1px solid black;
   /* outline: black solid 1px; */
   margin: 4px;
   padding: 4px 10px 4px 10px;
   border-radius: 4px;
   min-width: 50%;
   max-width: 85%;
   text-align: left;
   float: right;
   background-color: #e6b8afff;
   overflow-wrap: break-word;
   word-wrap: break-word;
 }

 p.lexResponse {
   margin: 4px;
   padding: 4px 10px 4px 10px;
   border-radius: 4px;
   text-align: left;
   min-width: 50%;
   max-width: 85%;
   float: left;
   background-color: white;
   border: 1px solid black;
   font-style: italic;
   overflow-wrap: break-word;
   word-wrap: break-word;
 }

 p.lexError {
   margin: 4px;
   padding: 4px 10px 4px 10px;
   border-radius: 4px;
   text-align: right;
   min-width: 50%;
   max-width: 85%;
   float: right;
   background-color: #f77;
 }


 .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
